body {
  margin: 0;
  background: black;
  color: #00ff9d;
  font-family: "Courier New", monospace;
  overflow: hidden;
}

#matrix {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

.terminal-container {
  text-align: center;
  margin-top: 40px;
}

#terminal {
  width: 80%;
  height: 300px;
  margin: auto;
  border: 1px solid #00ff9d;
  padding: 10px;
  overflow-y: auto;
  background: rgba(0,0,0,0.8);
  text-align: left;
}

input {
  padding: 10px;
  width: 60%;
  background: black;
  border: 1px solid #00ff9d;
  color: #00ff9d;
}

button {
  padding: 10px;
  background: #00ff9d;
  border: none;
  cursor: pointer;
  font-weight: bold;
}
